{
  "swagger" : "2.0",
  "info" : {
    "title" : "CPADProject app API",
    "description": "You can also [Download your Back4App app's swagger.json](https://dashboard.back4app.com/swagger/pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY/file) and use it on [Postman](https://www.getpostman.com/)"
  },
  "host" : "parseapi.back4app.com",
  "schemes": [
    "https"
  ],
  "paths" : {
      "/classes/StudentVaccinationDetails" : {
        "post" : {
          "tags": [ "StudentVaccinationDetails" ],
          "summary": "StudentVaccinationDetails",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
            "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name": "body",
              "in": "body",
              "schema": {
                "type": "object",
                "properties": {
                  "studentId": {
                    "type": "String",
                    "example": "A string"
                  },
                  "name": {
                    "type": "String",
                    "example": "A string"
                  },
                  "aadharNo": {
                    "type": "String",
                    "example": "A string"
                  },
                  "isVaccinated": {
                    "type": "Boolean",
                    "example": true
                  },
                  "noOfDoses": {
                    "type": "Number",
                    "example": 1
                  },
                  "primaryVaccineName": {
                    "type": "String",
                    "example": "A string"
                  },
                  "schoolDriveId": {
                    "type": "String",
                    "example": "A string"
                  },
                  "dob": {
                    "type": "Number",
                    "example": 1
                  },
                  "doseDetails": {
                    "type": "Array",
                    "example": [ 1, "a string" ]
                  },
                  "lastVaccineDt": {
                    "type": "Number",
                    "example": 1
                  }
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "get" : {
          "tags": [ "StudentVaccinationDetails" ],
          "summary": "StudentVaccinationDetails",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
              "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name": "where",
              "in": "query",
              "required": false,
              "type": "string",
              "x-example": "{ \"studentId\": \"A string\", \"name\": \"A string\", \"aadharNo\": \"A string\", \"isVaccinated\": true, \"noOfDoses\": 1, \"primaryVaccineName\": \"A string\", \"schoolDriveId\": \"A string\", \"dob\": 1, \"doseDetails\": [ 1, \"a string\" ], \"lastVaccineDt\": 1 }"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/classes/StudentVaccinationDetails/{objectId}" : {
        "put" : {
          "tags": [ "StudentVaccinationDetails" ],
          "summary": "StudentVaccinationDetails/{objectId}",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
              "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name" : "objectId",
              "in" : "path",
              "required" : true,
              "type" : "string"
            },
            {
              "name": "body",
              "in": "body",
              "schema": {
                "type": "object",
                "properties": {
                  "studentId": {
                    "type": "String",
                    "example": "A string"
                  },
                  "name": {
                    "type": "String",
                    "example": "A string"
                  },
                  "aadharNo": {
                    "type": "String",
                    "example": "A string"
                  },
                  "isVaccinated": {
                    "type": "Boolean",
                    "example": true
                  },
                  "noOfDoses": {
                    "type": "Number",
                    "example": 1
                  },
                  "primaryVaccineName": {
                    "type": "String",
                    "example": "A string"
                  },
                  "schoolDriveId": {
                    "type": "String",
                    "example": "A string"
                  },
                  "dob": {
                    "type": "Number",
                    "example": 1
                  },
                  "doseDetails": {
                    "type": "Array",
                    "example": [ 1, "a string" ]
                  },
                  "lastVaccineDt": {
                    "type": "Number",
                    "example": 1
                  }
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "delete" : {
          "tags": [ "StudentVaccinationDetails" ],
          "summary": "StudentVaccinationDetails/{objectId}",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
              "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name" : "objectId",
              "in" : "path",
              "required" : true,
              "type" : "string"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/classes/VaccinationDrive" : {
        "post" : {
          "tags": [ "VaccinationDrive" ],
          "summary": "VaccinationDrive",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
            "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name": "body",
              "in": "body",
              "schema": {
                "type": "object",
                "properties": {
                  "driveDt": {
                    "type": "Number",
                    "example": 1
                  },
                  "state": {
                    "type": "String",
                    "example": "A string"
                  },
                  "totalDoses": {
                    "type": "Number",
                    "example": 1
                  },
                  "driveName": {
                    "type": "String",
                    "example": "A string"
                  },
                  "vaccineDetails": {
                    "type": "Array",
                    "example": [ 1, "a string" ]
                  }
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "get" : {
          "tags": [ "VaccinationDrive" ],
          "summary": "VaccinationDrive",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
              "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name": "where",
              "in": "query",
              "required": false,
              "type": "string",
              "x-example": "{ \"driveDt\": 1, \"state\": \"A string\", \"totalDoses\": 1, \"driveName\": \"A string\", \"vaccineDetails\": [ 1, \"a string\" ] }"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/classes/VaccinationDrive/{objectId}" : {
        "put" : {
          "tags": [ "VaccinationDrive" ],
          "summary": "VaccinationDrive/{objectId}",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
              "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name" : "objectId",
              "in" : "path",
              "required" : true,
              "type" : "string"
            },
            {
              "name": "body",
              "in": "body",
              "schema": {
                "type": "object",
                "properties": {
                  "driveDt": {
                    "type": "Number",
                    "example": 1
                  },
                  "state": {
                    "type": "String",
                    "example": "A string"
                  },
                  "totalDoses": {
                    "type": "Number",
                    "example": 1
                  },
                  "driveName": {
                    "type": "String",
                    "example": "A string"
                  },
                  "vaccineDetails": {
                    "type": "Array",
                    "example": [ 1, "a string" ]
                  }
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "delete" : {
          "tags": [ "VaccinationDrive" ],
          "summary": "VaccinationDrive/{objectId}",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
              "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name" : "objectId",
              "in" : "path",
              "required" : true,
              "type" : "string"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/classes/BulkUploadDetails" : {
        "post" : {
          "tags": [ "BulkUploadDetails" ],
          "summary": "BulkUploadDetails",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
            "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name": "body",
              "in": "body",
              "schema": {
                "type": "object",
                "properties": {
                  "fileName": {
                    "type": "String",
                    "example": "A string"
                  },
                  "size": {
                    "type": "Number",
                    "example": 1
                  },
                  "addedBy": {
                    "type": "String",
                    "example": "A string"
                  },
                  "uploadType": {
                    "type": "String",
                    "example": "A string"
                  },
                  "url": {
                    "type": "String",
                    "example": "A string"
                  }
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "get" : {
          "tags": [ "BulkUploadDetails" ],
          "summary": "BulkUploadDetails",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
              "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name": "where",
              "in": "query",
              "required": false,
              "type": "string",
              "x-example": "{ \"fileName\": \"A string\", \"size\": 1, \"addedBy\": \"A string\", \"uploadType\": \"A string\", \"url\": \"A string\" }"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
      "/classes/BulkUploadDetails/{objectId}" : {
        "put" : {
          "tags": [ "BulkUploadDetails" ],
          "summary": "BulkUploadDetails/{objectId}",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
              "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name" : "objectId",
              "in" : "path",
              "required" : true,
              "type" : "string"
            },
            {
              "name": "body",
              "in": "body",
              "schema": {
                "type": "object",
                "properties": {
                  "fileName": {
                    "type": "String",
                    "example": "A string"
                  },
                  "size": {
                    "type": "Number",
                    "example": 1
                  },
                  "addedBy": {
                    "type": "String",
                    "example": "A string"
                  },
                  "uploadType": {
                    "type": "String",
                    "example": "A string"
                  },
                  "url": {
                    "type": "String",
                    "example": "A string"
                  }
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "delete" : {
          "tags": [ "BulkUploadDetails" ],
          "summary": "BulkUploadDetails/{objectId}",
          "produces" : [ "application/json" ],
          "parameters" : [
            {
              "name" : "X-Parse-Application-Id",
              "in" : "header",
              "description" : "Your Parse Application ID",
              "required" : true,
              "type" : "string",
              "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
            },
            {
              "name" : "X-Parse-REST-API-Key",
              "in" : "header",
              "description" : "Your REST Key",
              "required" : true,
              "type" : "string",
              "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
            },
            {
              "name" : "objectId",
              "in" : "path",
              "required" : true,
              "type" : "string"
            }
          ],
          "responses": {
            "200": {
              "description": "successful operation",
              "content": "application/json",
              "schema": {
                "type": "object"
              }
            }
          }
        }
      },
    "/classes/{className}" : {
      "post" : {
        "tags": [ "- Objects API" ],
        "summary": "Creating Objects",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
          "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name": "className",
            "in": "path",
            "description": "Your class name",
            "required": true,
            "type": "string",
            "default": "MyCustomClassName"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "myCustomKeyName": {
                  "type": "string",
                  "example": "myCustomKeyValue"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "get" : {
        "tags": [ "- Objects API" ],
        "summary": "Reading Objects",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
            "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name": "className",
            "in": "path",
            "description": "Your class name",
            "required": true,
            "type": "string",
            "default": "MyCustomClassName"
          },
          {
            "name": "where",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "{ \"myCustomKeyName1\": \"myCustomKeuValue1\", \"myCustomKeyName1\": \"myCustomKeuValue1\" }"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/classes/{className}/{objectId}" : {
      "put" : {
        "tags": [ "- Objects API" ],
        "summary": "Updating Objects",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
            "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name": "className",
            "in": "path",
            "description": "Your class name",
            "required": true,
            "type": "string",
            "default": "MyCustomClassName"
          },
          {
            "name" : "objectId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "myCustomKeyName": {
                  "type": "string",
                  "example": "myCustomKeyValue"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "delete" : {
        "tags": [ "- Objects API" ],
        "summary": "Deleting Objects",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
            "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name": "className",
            "in": "path",
            "description": "Your class name",
            "required": true,
            "type": "string",
            "default": "MyCustomClassName"
          },
          {
            "name" : "objectId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/users" : {
      "post" : {
        "tags": [ "Users" ],
        "summary": "Signing Up",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
          "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name" : "X-Parse-Revocable-Session",
            "in" : "header",
            "description" : "Revocable session value",
            "required" : true,
            "type" : "number",
            "default" : 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                  "username": {
                    "type": "String",
                    "example": "A string"
                  },
                  "email": {
                    "type": "String",
                    "example": "A string"
                  },
                "password": {
                  "type": "string",
                  "example": "#Password123"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/login" : {
      "get" : {
        "tags": [ "Users" ],
        "summary": "Logging In",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
            "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name" : "X-Parse-Revocable-Session",
            "in" : "header",
            "description" : "Revocable session value",
            "required" : true,
            "type" : "number",
            "default" : 1
          },
          {
            "name": "username",
            "in": "query",
            "required": true,
            "type": "string",
            "x-example": "<USERNAME>"
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "type": "string",
            "x-example": "<PASSWORD>"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/verificationEmailRequest" : {
      "post" : {
        "tags": [ "Users" ],
        "summary": "Verifying Email",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
            "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "email@example.com"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/requestPasswordReset" : {
      "post" : {
        "tags": [ "Users" ],
        "summary": "Requesting Password Reset",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
            "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "example": "email@example.com"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/users/me" : {
      "get" : {
        "tags": [ "Users" ],
        "summary": "Retrieving Current User",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
            "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name" : "X-Parse-Session-Token",
            "in" : "header",
            "description" : "The user's session token",
            "required" : true,
            "type" : "string",
            "default" : "<SESSION_TOKEN>"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/users/{objectId}" : {
      "get" : {
        "tags": [ "Users" ],
        "summary": "Retrieving Users",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
            "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name" : "objectId",
            "in" : "path",
            "required" : true,
            "type" : "string",
            "default": "<USER_OBJECT_ID>"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "put" : {
        "tags": [ "Users" ],
        "summary": "Updating Users",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
            "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name" : "objectId",
            "in" : "path",
            "required" : true,
            "type" : "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "String",
                  "example": "A string"
                },
                "email": {
                  "type": "String",
                  "example": "A string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "delete" : {
        "tags": [ "Users" ],
        "summary": "Deleting Users",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name" : "X-Parse-Application-Id",
            "in" : "header",
            "description" : "Your Parse Application ID",
            "required" : true,
            "type" : "string",
            "default" : "pNWxjrix1cu6IokwslWDmklCfdl6X8obnLnTp9bY"
          },
          {
            "name" : "X-Parse-REST-API-Key",
            "in" : "header",
            "description" : "Your REST Key",
            "required" : true,
            "type" : "string",
            "default" : "p2R2ZtsymlzmvGm0Jq4bAJG2YedJORZCVuMY8jtb"
          },
          {
            "name" : "X-Parse-Session-Token",
            "in" : "header",
            "description" : "The user's session token",
            "required" : true,
            "type" : "string",
            "default" : "<USER_SESSION_TOKEN>"
          },
          {
            "name" : "objectId",
            "in" : "path",
            "required" : true,
            "type" : "string",
            "default": "<USER_OBJECT_ID>"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": "application/json",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "tags" : [
    {
      "name": "- Objects API",
      "description": "The REST API to create a new class"
    },
    {
      "name": "StudentVaccinationDetails",
      "description": "The REST API for your StudentVaccinationDetails class"
    },
    {
      "name": "VaccinationDrive",
      "description": "The REST API for your VaccinationDrive class"
    },
    {
      "name": "BulkUploadDetails",
      "description": "The REST API for your BulkUploadDetails class"
    },
    {
      "name": "Users",
      "description": "The REST API for Parse User class"
    }
  ]
}